<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render '/sidebar' %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@show_book.user_id) do %>
                <%= image_tag @show_book.user.get_profile_image(100, 100) %><br />
                <%= @show_book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@show_book.id) do %>
                <%= @show_book.title %>
              <% end %>
            </td>
            <td>
              <%= @show_book.body %>
            </td>
            <% if @show_book.user_id == current_user.id %>
              <td>
                <%= link_to 'Edit', edit_book_path(@show_book.id), class: 'btn btn-sm btn-success' %>
              </td>
              <td>
                <%= link_to 'Destroy', book_path(@show_book), method: :delete, "data-confirm" => "本当に消しますか？" , class: 'btn btn-sm btn-danger' %>
              </td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>