<!-- Users#index, show -->
<!-- Books#index, show -->
<div class="col-md-3">
  <h2>User info</h2>

  <%= image_tag @user_info.get_profile_image(100, 100) %>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= @user_info.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @user_info.introduction %></th>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <!-- if @user_info.id == current_user.idなどで表示の有無を分けることはしないようだ -->
    <%= link_to edit_user_path(@user_info.id), class: 'btn btn-outline-secondary btn-block' do %>
      <i class="fa-solid fa-user-gear"></i>
    <% end %>
  </div>

  <h2 class="mt-3">New book</h2>
  <%= form_with model: @post_book do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :opinion %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <%= f.submit 'Create Book', class: 'btn btn-success' %>
  <% end %>
</div>
